.metadata/
Servers/
RemoteSystemsTempFiles/
game-backend/.settings/
game-backend/gradlew.bat
game-backend/build.gradle
game-backend/.classpath
game-backend/gradlew
game-backend/gradle/
gs-accessing-mongodb-data-rest-initial/.settings/
gs-accessing-mongodb-data-rest-complete/.settings/
.recommenders/
game-backend/.idea/
*.iml
